@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

html { 
  scroll-behavior: smooth; 
}

body {
  @apply bg-primary font-oswald tracking-[0.08em] text-[1.05rem] font-extralight text-white;
}

.btn {
  @apply tracking-widest font-extrabold;
  /* -webkit-text-stroke-width: 0.1px; */
}

.font-oswald {
  font-family: 'Oswald', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}


/* Scroller styling */
.scroller {
  height: 4.0em;
  line-height: 4.0em;
  position: relative;
  overflow: hidden;
}
.scroller > span {
  font-size: 3.0em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  animation: slide 5s infinite;
  font-weight: bold;
  
}
@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.4em;
  }
  50% {
    top: -2.7em;
  }
  75% {
    top: -4.1em;
  }
}